<footer class="site-footer">
  <div id="subscription" class="module text-center">
    <a href="{{ site_url }}/about/">
      <img src="https://avatars3.githubusercontent.com/u/1534596?v=3&amp;s=460" id="avatar-image" alt="avatar" width="160">
    </a>
    <br>
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}">
        <div class="icon icon-sm">
        {% include github.svg %}
        </div>
      </a>
    {% endif %}
    {% if site.facebook_username %}
      <a href="https://facebook.com/{{ site.facebook_username }}">
        <div class="icon icon-sm">
          {% include facebook.svg %}
        </div>
      </a>
    {% endif %}
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" rel="alternate" type="application/rss+xml">
      <div class="icon icon-sm">
        {% include rss.svg %}
      </div>
    </a>
    <div>
      <a href="{{ site.url }}">{{ site.nickname }} &copy; {{ site.copyright_year }}</a><br>
      <a href="{{ site_url }}/readme">README</a>
    </div>
  </div>
</footer>
