<footer class="footer">
  <div id="avatar-wrapper">
    <div id="avatar">
      <img src="{{ site.profile_image_url }}" id="avatar-image" alt="avatar" width="148">
      <div id="avatar-description">
        <div class="name-wrapper">
          <h1 class="name">Luavis</h1>
          <ul class="links">
            {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}">
                  <img src="{{ "/static/image/github-social-logo.png" | prepend: site.baseurl }}" alt="github">
                </a>
              </li>
            {% endif %}
            {% if site.facebook_username %}
              <li>
                <a href="https://facebook.com/{{ site.facebook_username }}">
                  <img src="{{ "/static/image/facebook-social-logo.png" | prepend: site.baseurl }}" alt="facebook">
                </a>
              </li>
            {% endif %}
              <li>
                <a href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml">
                  <img src="{{ "/static/image/rss-social-logo.png" | prepend: site.baseurl }}" alt="rss">
                </a>
              </li>
          </ul>
        </div>
        <p class="description"><a href="{{ site_url }}/about">Profile</a> | <a href="{{ site_url }}/readme">About this blog</a></p>
      </div>
    </div>
  </div>
  <div id="copyright">
    <p>
      &copy; {{ site.since_year }}-{{ site.copyright_year }} <a href="{{ site.url }}">{{ site.nickname }}</a><br>
      Designed by <a href="{{ site.designed_by_url }}">{{ site.designed_by }}</a>
    </p>
  </div>
</footer>
