@media print {
  html, body, code, p, pre {
    color: #333 !important;
    background: white;
  }
  a {
    text-decoration: none;
  }
  #blog-background-wrapper {
    display: none;
  }
  #blog-title {
    /* position: static;
    margin-bottom: 50px;
    height: 145px;
    */
    display: none;
  }
  /* #blog-title h1 {
    background: none;;
    padding-top: 20px;
  }
  #blog-title h1 a {
    border-bottom: 1px solid #404040;
    color: #404040;
    position: static;
  }
  #blog-title p {
    color: #404040;
    position: static;
  } */
  #triangle-wrapper {
    display: none;
  }
  .main-content-wrapper {
    padding: 0;
    padding-top: 24px;
    zoom: 0.9;
  }
  .share {
    display: none;
  }
  .footer {
    padding: 20px;
  }
  .footer #avatar {
    position: static;
    float: left;
  }
  .footer #copyright {
    height: 72px;
    background: none;
  }
  .footer #copyright p {
    padding: 0;
  }
  .footer .name-wrapper .name {
    font-size: 18px;
  }
  .footer .name-wrapper .name::before {
    content: 'Written by ';
  }
  .footer .name-wrapper .links {
    display: none;
  }
  .footer .description {
    display: none;
  }
  /* IE6 ignore avatar */
  * html #avatar {
    display: none;
  }
  .footer #avatar-image {
    display: none;
  }
  #wrapper {
    margin-bottom: 0;
  }
  .fb-like {
    display: none !important;
  }
  #disqus_thread {
    display: none;
  }
  noscript {
    display: none;
  }
}
