@charset "utf-8";

@font-face {
    font-family: 'bitstream_vera_sans_monoroman';
    src: url('../fonts/VeraMono-webfont.eot');
    src: url('../fonts/VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VeraMono-webfont.woff') format('woff'),
         url('../fonts/VeraMono-webfont.ttf') format('truetype'),
         url('../fonts/VeraMono-webfont.svg#bitstream_vera_sans_monoroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

html {

}

body {
  margin: 0px;
  font: 16px/1.8 "나눔고딕",NanumGothic,"Nanum Gothic","맑은 고딕","Malgun Gothic","돋움",dotum,AppleSDGothic,sans-serif;
  font-weight: normal;
  color: #404040;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "나눔고딕",NanumGothic,"Nanum Gothic","맑은 고딕","Malgun Gothic","돋움",dotum,AppleSDGothic,sans-serif;
  color: #404040;
  margin-top: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
  font-family: "나눔고딕", "NanumGothic", "Nanum Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#triangle-wrapper{
  height: 200px;
  margin-top: 159px;
  z-index: -10;
}

#triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0;
  border-left-width: 100vw;
  border-bottom-width: 200px;
  border-color: transparent transparent #ffffff transparent;
  will-change: transform;
}

#wrapper.overlay #triangle {
  border-bottom-width: 0px !important;
}

#blog-title {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
}

#blog-background-wrapper {
  background: #51a9b7 url(/static/image/gnb_background.jpg) no-repeat;
  background-position: top center;
  position: fixed;
  height: 359px;
  width: 100%;
  z-index: -1000;
  top: 0;
}

#blog-background {
  max-width: 1000px;
  margin: 0 auto;
  will-change: scroll-position;
}

#wrapper.overlay #blog-background-wrapper {
  height: 75px;
  z-index: 100;
}

#blog-title h1 {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 25px;
  width: 100%;
  padding-top: 160px;
  transform-origin: left top;
  will-change: transform;
}

#wrapper.overlay #blog-title h1 {
  transform: translate(0px, -80px) scale(0.6, 0.6) !important;
}

#blog-title h1 a {
  font-size: 42px;
  color: white;
  text-decoration: none;
}

#blog-title p {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 25px;
  font-size: 18px;
  color: #d5f3fc;
}

#wrapper.overlay #blog-title p {
  visibility: hidden;
  opacity: 0 !important;
}

@media screen and (max-width: 560px) {
  #blog-title h1 a {
    font-size: 32px;
    top: 135px;
  }
  #blog-title p {
    top: 200px;
  }
}

#post-share-link {
  width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
  padding-top: 23px;
  display: none;
}

#wrapper.overlay #post-share-link {
  display: block;
}

@media screen and (max-width: 560px) {
  #post-share-link {
    display: none !important;
  }
}

#post-share-link .links {
    float: right;
}

.links {
  padding: 0;
  margin: 0;
}

.share {
  position: absolute;
  right: 0;
  top: -100px;
  z-index: 200;
}

#wrapper.overlay .share {
  opacity: 0;
  display: none;
}

.share p {
  margin-bottom: 0;
  font-size: 12px;
  text-align: right;
  color: #72757c;
}

.links li {
  list-style: none;
  display: inline-block;
}

#wrapper {
  position: relative;
}

.main-content-wrapper {
  background: white;
}

.home, .post {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 25px;
  background-color: white;
}

.home {
  position: relative;
}
.home .subscribe.share {
  color: #72757c;
  font-size: 12px;
}
.home .subscribe.share a {
  text-decoration: none;
}
.home .subscribe.share span {
  position: relative;
  top: -10px;
  left: -12px;
}

.home .post-list {
  padding: 0;
  margin: 0;
}

.home .post-list li {
  list-style: none;
  border-bottom: 1px solid #afcace;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.home .post-list li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.home .title {
  font-size: 18px;
  margin-right: 20px;
  display: inline-block;
}

.home .date {
  font-size: 13px;
  color: #5f5f5f;
}

.home .title a {
  text-decoration: none;
}

.home .post-expect {
  color: #989ca4;
  font-size: 12px;
}

.post {
  position: relative;
}

.post .post-meta {
  margin: 0 0 16px;
}

.post .post-title {
  margin-top: 0;
  margin-bottom: 10px;
}

#page-link {
  font-size: 16px;
  color: #a4a4a4;
  text-decoration: none;
}

.post-header {
  margin-bottom: 68px;
}

.post .post-title a {
  text-decoration: none;
  font-size: 32px;
}

@media screen and (max-width: 560px) {
  .post .post-title a {
    font-size: 28px;
  }
}

.post-content img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

pre {
  background: #263238;
  border-radius: 2px;
  padding: 20px;
}

#disqus_thread {
  margin-top: 85px;
}

.footer {
  position: relative;
  padding-top: 167px;
}

.footer #avatar-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 25px;
}

#avatar {
  position: absolute;
  top: 60px;
}

.footer #avatar-image {
  border-radius: 74px;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  top: 39px;
}

.footer #avatar-description {
  display: inline-block;
}

.footer .name-wrapper {
  margin-bottom: 23px;
}

.footer .name-wrapper .name {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  font-size: 28px;
}

.footer .name-wrapper .links {
  display: inline-block;
  position: relative;
  top: 5px;
}

.footer .description {
  color: #898b90;
  font-size: 14px;
  margin: 0;
}

.footer .description a {
  text-decoration: none;
}

.footer #copyright {
  height: 114px;
  font-size: 12px;
  background-color: #f2f2f2;
  width: 100%;
}

.footer #copyright p {
  color: #898b90;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 25px;
  padding-top: 28px;;
  text-align: right;
  margin: 0 auto;
}

.footer #copyright a {
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 560px) {
  .footer #avatar-image {
    display: block;
    position: static;
    margin: 0 auto;
  }
  .footer #avatar-description {
    display: block;
    text-align: center;
  }
  .footer #copyright {
    height: 233px;
  }
  .footer #copyright p {
    position: absolute;
    bottom: 8px;
    text-align: center;
  }
}
