---
layout: luavis
---
<div class="post">
  <header class="post-header">
    <div class="share">
      <p>Share this post</p>
      <ul class="links">
        <li>
          <a class="share-link" data-type="facebook">
            <img src="{{ "/static/image/facebook.svg" | prepend: site.baseurl }}" height="24" alt="facebook">
          </a>
        </li>
        <li>
          <a class="share-link" data-type="twitter">
            <img src="{{ "/static/image/twitter.svg" | prepend: site.baseurl }}" height="24" alt="twitter">
          </a>
        </li>
        <li>
          <a class="share-link" data-type="link">
            <img src="{{ "/static/image/link.svg" | prepend: site.baseurl }}" height="24" alt="link">
          </a>
        </li>
      </ul>
    </div>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <a href="{{site.url}}{{page.url}}" id="page-link">{{site.url}}{{page.url}}</a>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
  <div class="fb-like" data-href="{{site.url}}{{page.url}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  <div id="disqus_thread"></div>
  <div id="fb-root"></div>
  <!--[if !IE]><!-->
  <script>
  (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//luavis.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.10&appId=122734901709154";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!--<![endif]-->
</div>
